@model ERPSystem.Data.Permission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Permission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PermissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
